@import "mocha";

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 12;
  font-family: Lilex Nerd Font Regular;
  background-color: transparent;
  

}

//Global Styles
.bar {
  background-color: transparent;
  padding: 0px;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 0.5s;
}


.progressWheel {
  background-color: #45475a;
  padding: 4px;
  color: $text;
  font-size: 10pt;
  margin-left: 4px;
  margin-right: 4px;

}

.wheelLabel {
  // @extend .progressWheel;
  color: $text;
  font-size: 8pt;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.ramCircle {
  @extend .progressWheel;
  color: $red;
}

.cpuCircle {
  @extend .progressWheel;
  color: $peach;
}

.volCircle {
  @extend .progressWheel;
  color: $sapphire;
}

.micCircle {
  @extend .progressWheel;
  color: $sky;
}

.batCircle {
  @extend .progressWheel;
  color: $yellow;
}

.time {
  @extend container;
  color: $pink;
  
}

.container {
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.workspaceUnfocused {
  // background-color: #1e1e2e;
  // padding: 8px;
  margin: 4px;
  color: $text;
}

.workspaceFocused {
  @extend .workspaceUnfocused;
  color: $mauve;
}

.wrapperWidget {
  background-color: #1e1e2e;
  border-radius: 8px;
  padding: 2px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
.workspace button:hover {
  color: #d35d6e;
}
